{% extends 'base.html' %}

{% block title %}
    アカウント登録
{% endblock %}


{% block content %}
<body class="">
    <div class="container">
        <div class="text-center">
            <img class="mb-4 rounded-circle img-fluid w-25" src="/static/images/logo.jpg" alt="">
            <h1 class="h3 mb-4 font-weight-normal">
                アカウント登録
            </h1>
        </div>

        <form method="POST" action="" class="form-register row g-3 align-items-center", style="color:white">
            {{ form.hidden_tag() }}
            <br>

            {{ form.username.label(class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">{{ form.username(class="form-control", placeholder="User Name") }}</div>

            {{ form.email.label(class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">{{ form.email(class=" form-control", placeholder="メールアドレス") }}</div>

            {{ form.password1.label(class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">{{ form.password1(class=" form-control", placeholder="パスワード") }}</div>

            {{ form.password2.label(class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">{{ form.password2(class="form-control", placeholder="パスワード確認") }}</div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary mt-5") }}

            <div class="checkbox mt-5 mb-3 text-center">
                <h6>すでにアカウントをお持ちの方</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">ログイン</a>
            </div>
        </form>
    </div>
</body>
{% endblock %}
