{% extends 'base.html' %}

{% block title %}
    アカウント登録
{% endblock %}


{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" action="" class="form-register", style="color:white">
            {{ form.hidden_tag() }}
            <img class="mb-4" src="https://res.cloudinary.com/jimshapedcoding/image/upload/v1597332609/android-icon-192x192_ove2a7.png" alt="">
            <h1 class="h3 mb-3 font-weight-normal">
                アカウント登録
            </h1>
            <br>

            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}

            {{ form.email.label() }}
            {{ form.email(class="form-control", placeholder="メールアドレス") }}

            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="パスワード") }}

            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="パスワード確認") }}

            {{ form.submit(class="btn btn-lg btn-block btn-primary mt-4") }}
        </form>
    </div>
</body>
{% endblock %}
